* {
  padding: 0px;
  margin: 0px;
  height: max-content;
}

.content1 {
  height: 450px;
  /* background-color: aqua; */
  display: flex;
}

.side {
  width: 50%;
  height: 99%;
  margin: 1px;
  list-style-type: none;
}

.sideLeft1 {
  width: 50%;
  height: 200px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideLeft1-cover {
  font-size: 20px;
}

.sideLeft1-text {
  font-size: 30px;
}

.sideRight1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideRight1 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
