* {
  padding: 0;
  margin: 0;
}
.product-box {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 20px;
  width: 150px;
  height: 200px;
  margin: 6px;
  display: inline-block;
}

.product-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  color: #4caf50;
}

.product-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.addcart {
  position: absolute;
  bottom: 10px; /* Mengatur jarak dari bawah */
}

.product-title,
.product-description,
.product-price {
  margin: 0;
  padding: 0;
}

