*{
    padding: 0;
    margin: 0;
    height: max-content;
}
.item-center{
    justify-content: center;

}
.align-center{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
}


.conten1{
    /* background-color: aqua; */
    height: 40vh;
    border: 1px solid white;
}
.conten2{
    /* background-color: aqua; */
    height: max-content;
    border: 1px solid white;
    padding: 170px 100px;
}
.conten3{
    /* background-color: aqua; */
    height: 30vh;
    border: 1px solid white;
}
.conten4{

    /* background-color: aqua; */
    height: max-content;
    border: 1px solid white;
    padding: 150px 4px;
}
.box-testimoni{
    height: 100px ;
    width: 300px;
    
    border: 1px solid black;
    padding: 3px;
}
.size7{
    font-size: 10px;
}