*{
    padding: 0;
    margin: 0;
}
.footer{
    height: max-content;
    background-color: black;
}
.phone{
    height: 150px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;


}
.phone p{
    margin-left: 15%;
    color: white;
}
.icon{
    border-top: 1px solid white;
    padding-bottom :20px;
    height: 50px;
    width: 100%;
    /* background-color: aquamarine; */
    align-items: end;

    justify-content: space-between;
    display: flex;
    color: white;
}
.coffie{
    margin-left: 10%;
    
}
.sosmed{
    margin-right: 5%;
    display: flex;
}
.sosmed img{
    margin-right: 2%;
}

