*{
    padding: 0;
    margin: 0;
}
.footer{
    height: max-content;
    background-color: black;
    width: 100%;
}
.phone{
    height: 150px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.phone p{
    margin-left: 15%;
    color: #f8cc9a;
}
.bawahan{
    border-top: 1px solid #fae7d2;
    padding-top: 10px;
    padding-bottom :20px;
    height: 50px;
    width: 100%;
    display: flex;
    color: #f8cc9a;
    justify-content: space-between;
}
.icons{
    margin-right: 10%;
    font-size: 24px;
    color: #f8cc9a;
}
.coffie{
    margin-left: 10%;
    
}
.sosmed{
    margin-right: 1%;
    display: flex;
    width: 15%;
}
.sosmed img{
    margin-right: 2%;
}

